<!DOCTYPE html>
<html>
<head>
<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
<#include "include/include.html"> 
<@layuiTop/>
<@echarts/>
<link rel="stylesheet" type="text/css"
	href="${contextPath}/style/css/home.css?ver=${ver}" />
</head>
<body>
	<div class="layui-fluid">
		<!--<div class="numberNone">
		<#include "home/functionShortcut.html">
		<#include "home/currenttFaultCounts.html">
		<#include "home/yesterdayBusiness.html">
		</div>
		<div class="numberTwo">
		<#include "home/latelyUseBikeData.html">
		<#include "home/parkColumnOffline.html">
		</div>
		<div class="numberThree">
		<#include "home/waitDealTask.html">
		<#include "home/systemMonitor.html">
		<#include "home/rentBikeCountRank.html">
		</div>-->
	</div>
</body>
</html>
