html.full,.full body {
	height: 100%;
	margin: 0 !important;
	padding: 0 5px !important;
}
.amap-logo {
	display: none !important;
}
.amap-copyright {
	display: none !important;
}
.mapDiv {
	width: 100%;
	height: 750px;
	margin: auto;
}
.fullHeight {
	height: 100%;
}
.mapForm {
	position: absolute;
	top: 5px;
	right: 20px;
}